@page "/"
@using Drutol.FigureRepository.BlazorApp.Interfaces.Figures
@using Drutol.FigureRepository.BlazorApp.Pages.Index.IndexComponents
@using Drutol.FigureRepository.BlazorApp.Pages.FigureIndex.IndexComponents

@inject IFigureProvider FigureProvider
@inject IFigureIconProvider FigureIconProvider

<style>
    #Gallery {
        align-self: center;
    }
</style>

<HeadContent>
    <MetaProperties/>
</HeadContent>

<MudGrid Spacing="0" Class="mt-2">
    <MudItem xs="12" sm="6" Class="d-flex flex-column">
        <IndexHello/>
    </MudItem>
    <MudItem xs="12" sm="6" Id="Gallery">
        <IndexGallery/>
    </MudItem>
</MudGrid>

<MudText Typo="Typo.h4" Class="mt-4" Align="Align.Center">
    Figures
</MudText>

<MudDivider Class="mx-8 mt-4"/>

<div Class="ma-8">
    <FigureGrid ItemWidth="380"/>
</div>

@*<MudPaper Class="ma-8 pa-8" Elevation="3">
    <MudItem Class="border-l-2 pl-4 mud-border-primary">
        <MudText Typo="Typo.h4" Align="Align.Left">FAQ</MudText>
    </MudItem>

    <FaqList/>
</MudPaper>*@

@code {

}