@using MudBlazor

<MudItem xs="12" sm="6">
    <MudExpansionPanel Style="background-color: var(--mud-palette-drawer-background)">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Color="Color.Primary"></MudIcon>
                <MudText><strong>Q: @Question</strong></MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText Typo="Typo.body1">
                <strong>A:</strong> @Answer
            </MudText>
        </ChildContent>
    </MudExpansionPanel>
</MudItem>

@code {
    [Parameter]
    public RenderFragment Question { get; set; }

    [Parameter]
    public RenderFragment Answer { get; set; }
}
