@using MudBlazor

<MudItem xs="12" sm="6" Style="min-width: 250px">
    <MudExpansionPanel Style="background-color: var(--mud-palette-drawer-background)">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Color="Color.Primary"></MudIcon>
                <MudText><strong>Q: @Question</strong></MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText Typo="Typo.body1">
                <div class="d-flex">
                    <span class="mr-4 mud-primary-text mud-typography-h6">A:</span>
                    <div class="mt-1">
                        @Answer
                    </div>
                </div>
                
            </MudText>
        </ChildContent>
    </MudExpansionPanel>
</MudItem>

@code {
    [Parameter]
    public RenderFragment Question { get; set; }

    [Parameter]
    public RenderFragment Answer { get; set; }
}
