<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudText>You can purchase the figure in 3 different ways.</MudText>
            <br/>
            <MudText>
                When you opt to use this site directly, your purchase will be securely stored on blockchain.
                For this you will need a wallet extension, the NFT will be deposited into it and used as a license allowing download.
            </MudText>
            <br/>
            <MudDivider/>
            <br/>
            <MudStack Row="true" Spacing="5">
                <MudImage Src="images/Logo/PayPalLogo.png" Height="50"/>
                <MudText>
                    <b>PayPal</b> - standard checkout option, all you need to do is install and connect the wallet
                    and I'll transfer the NFT allowing download. <i>Wallet activation fees are included.</i>
                </MudText>
            </MudStack>
            <br/>
            <MudStack Row="true" Spacing="5">
                <MudImage Src="svg/wallet/Gme.svg" Height="50"/>
                <MudText>
                    <b>GameStop Marketplace</b> - buy the NFT directly on the market, it will be deposited into your wallet by the marketplace.
                    Once the NFT is present in your wallet the website will recognize it and allow download.
                </MudText>
            </MudStack>
            <br/>
            <MudStack Row="true" Spacing="5">
                <MudImage Src="svg/vendor/Cgtrader.svg" Style="background-color: #41a48f; height: 50px;" Class="rounded pa-2"/>
                <MudText>
                    <b>CGTrader</b> - entirely conventional purchase option, upon purchase you will obtain
                    all the files from their website. Because of extra royalties the price there will be higher.
                </MudText>
            </MudStack>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));
}