@page "/Admin/Login"

@using Microsoft.AspNetCore.Components.Authorization
@using Drutol.FigureRepository.BlazorApp.Interfaces.Http
@using Drutol.FigureRepository.Shared.Admin
@using Drutol.FigureRepository.BlazorApp.Interfaces

@inject IApiHttpClient HttpClient
@inject IApiAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="d-flex" style="height: 100%; justify-content: center; align-items: center">
    <MudPaper Elevation="3" Width="300px" Class="pa-4">
        <MudStack>
            <MudText Typo="Typo.h6">Login</MudText>
            <MudTextField @bind-Value="Key" Label="Standard" Variant="Variant.Text"/>
            <MudButton OnClick="Login" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
        </MudStack>
    </MudPaper>
</div>

@code {
    public string Key { get; set; } = "test";

    private async Task Login()
    {
        var result = await AuthenticationStateProvider.Authenticate(Key);

        if (result)
        {
            NavigationManager.NavigateTo("Admin");
        }
    }
}
